h1 {
    color: teal;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}

h2 {
    color: teal;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: bold;
}

a {
    color: black;
}

/* Navbar */

.navbar-brand {
    float: left;
    background-color: teal;
    padding: 10px;
}

.navbar-name {
    color: white;
}

.nav-item {
    margin: 5px;
}

a.navlink {
    font-size: 20px;
}

/* General */

.card-header {
    background-color: transparent;
    border-bottom: 3px solid rgba(0,0,0,.125);
}

.card {
    margin-top: 50px;
}

/* About Me */

.about-me-text {
    padding: 5px;
}

.about-me-img {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 12em; 
    height: 12em; 
    float: left
}

/* Portfolio */

.portfolio-img {
    width: 300px;
    margin: 5px 20px;
}

.img-column {
    margin: 20px;
}

/* Contact */

.contact-name {
    margin-top: 20px;
}

.btn-primary {
    background-color: teal;
    border-color: teal;
}

/* Footer */

.copyright {
    color: gray;
}