body {
    
}


.navbar-brand {
    float: left;
    background-color: teal;
}

.navbar-name {
    color: white;
}

.nav-item {
    margin: 5px;
}

h1 {
    color: teal;
    font-family: 'Libre Baskerville', sans-serif;
}

a {
    color: black;
}

a.navlink {
    font-size: 20px;
}

.about-me-text {
    padding: 5px;
}

.about-me-img {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 16em; 
    height: 16em; 
    float: left
}

.portfolio-img {
    width: 300px;
    margin: 5px 20px;
}

.card-header {
    background-color: transparent;
    border-bottom: 3px solid rgba(0,0,0,.125);
}

.img-column {
    margin: 20px;
}

.copyright {
    color: gray;
}